USE [Gimnacio]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_INSTRUCTOR]    Script Date: 8/2/2019 17:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ACTUALIZAR_INSTRUCTOR]
    @ID_INSTRUCTOR INT ,
    @CORREO VARCHAR(150),
    @CEDULA VARCHAR(150),
    @NOMBRE VARCHAR(150),
    @PRIMER_APELLIDO VARCHAR(150),
    @SEGUNDO_APELLIDO VARCHAR(150),
    @PROVINCIA VARCHAR(150),
    @CANTON VARCHAR(150),
    @DISTRITO VARCHAR(150),
    @FOTO IMAGE,
    @FECHA_DE_INGRESO DATETIME,
    @FECHA_DE_INSERCION DATETIME
AS
BEGIN
    UPDATE Instructores SET
 Correo=@CORREO,Cedula=@CEDULA,Nombre=@NOMBRE,PrimerApellido=@PRIMER_APELLIDO
,SegundoApellido=@SEGUNDO_APELLIDO,Provincia=@PROVINCIA,Canton=@CANTON,Distrito=@DISTRITO,Foto=@FOTO,Fecha_de_ingreso=@FECHA_DE_INGRESO
,Fecha_de_insercion=@FECHA_DE_INSERCION
where id_Instructor=@ID_INSTRUCTOR

END

CREATE PROCEDURE dbo.ACTUALIZAR_INSTRUCTOR
    @ID_INSTRUCTOR INT NULL,
    @CORREO VARCHAR(150),
    @CEDULA VARCHAR(150),
    @NOMBRE VARCHAR(150),
    @PRIMER_APELLIDO VARCHAR(150),
    @SEGUNDO_APELLIDO VARCHAR(150),
    @PROVINCIA VARCHAR(150),
    @CANTON VARCHAR(150),
    @DISTRITO VARCHAR(150),
    @FOTO IMAGE NULL,
    @FECHA_DE_INGRESO DATETIME,
    @FECHA_DE_INSERCION DATETIME
AS
BEGIN
    UPDATE Instructores SET
 Correo=@CORREO,Cedula=@CEDULA,Nombre=@NOMBRE,PrimerApellido=@PRIMER_APELLIDO
,SegundoApellido=@SEGUNDO_APELLIDO,Provincia=@PROVINCIA,Canton=@CANTON,Distrito=@DISTRITO,Foto=@FOTO,Fecha_de_ingreso=@FECHA_DE_INGRESO
,Fecha_de_insercion=@FECHA_DE_INSERCION
where id_Instructor=@ID_INSTRUCTOR

END
