USE [Gimnacio]
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_INSTRUCTOR]    Script Date: 16/2/2019 00:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[INSERTA_INSTRUCTOR]
    @ID_INSTRUCTOR INT,
    @CORREO VARCHAR(150),
    @CEDULA VARCHAR(150),
    @NOMBRE VARCHAR(150),
    @PRIMER_APELLIDO VARCHAR(150),
    @SEGUNDO_APELLIDO VARCHAR(150),
    @PROVINCIA VARCHAR(150),
    @CANTON VARCHAR(150),
    @DISTRITO VARCHAR(150),
    @FOTO IMAGE,
    @FECHA_DE_INGRESO DATETIME,
    @FECHA_DE_INSERCION DATETIME
AS
BEGIN
    INSERT INTO Instructores
    VALUES(@ID_INSTRUCTOR, @CORREO, @NOMBRE, @PRIMER_APELLIDO, @SEGUNDO_APELLIDO, @PROVINCIA, @CANTON, @DISTRITO, @FOTO, @FECHA_DE_INGRESO, @FECHA_DE_INSERCION)
END

CREATE PROCEDURE dbo.INSERTA_INSTRUCTOR
    @ID_INSTRUCTOR INT NULL,
    @CORREO VARCHAR(150),
    @CEDULA VARCHAR(150),
    @NOMBRE VARCHAR(150),
    @PRIMER_APELLIDO VARCHAR(150),
    @SEGUNDO_APELLIDO VARCHAR(150),
    @PROVINCIA VARCHAR(150),
    @CANTON VARCHAR(150),
    @DISTRITO VARCHAR(150),
    @FOTO IMAGE NULL,
    @FECHA_DE_INGRESO DATETIME,
    @FECHA_DE_INSERCION DATETIME
AS
BEGIN
    INSERT INTO Instructores
    VALUES(@ID_INSTRUCTOR, @CORREO, @NOMBRE, @PRIMER_APELLIDO, @SEGUNDO_APELLIDO, @PROVINCIA, @CANTON, @DISTRITO, @FOTO, @FECHA_DE_INGRESO, @FECHA_DE_INSERCION)
END
