USE [Gimnacio]
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_RUTINA]    Script Date: 8/2/2019 17:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[INSERTA_RUTINA]
    @ID_RUTINA INT,
    @ID_INSTRUCTOR INT,
    @ID_JUGADOR INT,
    @FECHA_RUTINA DATETIME,
    @FECHA_INICIO_RUTINA DATETIME,
    @FECHA_FIN_RUTINA DATETIME,
    @FECHA_DE_INGRESO DATETIME,
    @FECHA_DE_INSERCION DATETIME,
    @USUARIO_INSERCION INT,
    @FECHA_DE_MODIFICACION DATETIME,
    @USUARIO_MODIFICACION INT
AS
BEGIN
    INSERT INTO Rutinas
    VALUES(@ID_RUTINA, @ID_INSTRUCTOR, @ID_JUGADOR, @FECHA_RUTINA, @FECHA_INICIO_RUTINA, @FECHA_FIN_RUTINA, @FECHA_DE_INGRESO, @FECHA_DE_INSERCION, @USUARIO_INSERCION, @FECHA_DE_MODIFICACION, @USUARIO_MODIFICACION)
END

CREATE PROCEDURE dbo.INSERTA_RUTINA
    @ID_RUTINA INT NULL,
    @ID_INSTRUCTOR INT  NULL,
    @ID_JUGADOR INT NULL,
    @FECHA_RUTINA DATETIME NULL,
    @FECHA_INICIO_RUTINA DATETIME NULL,
    @FECHA_FIN_RUTINA DATETIME NULL,
    @FECHA_DE_INGRESO DATETIME NULL,
    @FECHA_DE_INSERCION DATETIME NULL,
    @USUARIO_INSERCION INT NULL,
    @FECHA_DE_MODIFICACION DATETIME,
    @USUARIO_MODIFICACION INT NULL
AS
BEGIN
    INSERT INTO Rutinas
    VALUES(@ID_RUTINA, @ID_INSTRUCTOR, @ID_JUGADOR, @FECHA_RUTINA, @FECHA_INICIO_RUTINA, @FECHA_FIN_RUTINA, @FECHA_DE_INGRESO, @FECHA_DE_INSERCION, @USUARIO_INSERCION, @FECHA_DE_MODIFICACION, @USUARIO_MODIFICACION)
END
