USE [Gimnacio]
GO
/****** Object:  StoredProcedure [dbo].[RETORNA_DETALLE_RUTINA]    Script Date: 9/4/2019 23:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[RETORNA_DETALLE_RUTINA]
AS
BEGIN
SELECT R.ID_RUTINA,R.ID_INSTRUCTOR,R.ID_JUGADOR,R.FECHA_RUTINA,R.FECHA_INICIO_RUTINA,
R.FECHA_FIN_RUTINA,R.OBJETIVOS,I.CORREO,I.NOMBRE,I.PRIMERAPELLIDO,I.SEGUNDOAPELLIDO,
J.CORREO,J.CORREO,J.PRIMERAPELLIDO,J.SEGUNDOAPELLIDO  from Rutinas AS R

INNER JOIN Instructores as I on I.id_Instructor = I.id_Instructor
INNER JOIN Jugadores as J on J.id_Jugador = J.id_Jugador

END

