<!-- Modal -->
<div class="modal fade" id="ModalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    <i class="fa fa-fw fa-user"></i>
                    <span class="nombre"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <i class="fa fa-fw fa-envelope">&nbsp;</i>
                    Correo electrónico:&nbsp;
                    <span class="correo font-weight-bold"></span>
                </p>
                <p>
                    <i class="fa fa-fw fa-phone">&nbsp;</i>
                    Teléfono:&nbsp;
                    <span class="telefono font-weight-bold"></span>
                </p>
                <p>
                    <i class="fa fa-fw fa-calendar">&nbsp;</i>
                    Fecha de registro:&nbsp;
                    <span class="fecha font-weight-bold"></span>
                </p>
                <p>
                    <i class="mdi mdi-message-processing">&nbsp;</i>
                    @*<i class="fa fa-fw fa-user-edit">&nbsp;</i>*@
                    Mensaje:&nbsp;
                    <span class="mensaje font-weight-bold"></span>

                </p>
            </div>
        </div>
    </div>
</div>
