<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
    <p>&copy; @DateTime.Now.Year - fitcare</p>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->