<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
		<div class="container my-1">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link text-dark" href='@Url.Action("Index", "Home")'>
							Inicio<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						@Html.ActionLink("Contáctenos", "Contacto", "Home", null, new { @class = "nav-link text-dark" })
					</li>
					<li class="nav-item">
						@Html.ActionLink("Privacidad", "Privacidad", "Home", null, new { @class = "nav-link text-dark"
						})
					</li>
				</ul>

				<partial name="_LoginPartial" />
			</div>
		</div>
	</nav>
</header>
