@using Microsoft.AspNetCore.Identity
@using fitcare.Models.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-user fa-fw text-primary"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" asp-controller="Home" asp-action="Administracion" title="Administración">Administración</a>
				<div class="dropdown-divider"></div>
				<div>
					<form class="form-inline" asp-controller="Cuentas" asp-action="CerrarSesion" asp-route-returnUrl="@Url.Action("Index", "Home")">
						<button type="submit" class="dropdown-item">Cerrar sesión</button>
					</form>
				</div>
			</div>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Cuentas" asp-action="IniciarSesion" title="Iniciar sesión en fitcare">Iniciar sesión</a>
		</li>
	}
</ul>
