@{
    ViewData["Title"] = "Página no encontrada";
}

<div class="row mt-4">
    <div class="col-sm-12 text-center">
        <img src="~/images/error-404.svg" alt="Página no encontrada" class="max-height-128px">
    </div>
    <div class="col-sm-12 text-center">
        <h4 class="mt-2 text-danger">Página no encontrada.</h4>
    </div>
</div>