@{
	ViewData["Title"] = "Inicio";
}

<div class="jumbotron p-4 bg-white shadow-sm">
	<div class="row">
		<div class="col-sm-12 col-md-5">
			<div id="Carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
				<!-- Contenedor para contenido deslizable  -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="~/images/Index/Banner1.jpg" alt="Gimnasio 1" class="img-fluid rounded" />
					</div>
					<div class="carousel-item">
						<img src="~/images/Index/Banner2.jpg" alt="Gimnasio 2" class="img-fluid rounded" />
					</div>
					<div class="carousel-item">
						<img src="~/images/Index/Banner3.jpg" alt="Gimnasio 3" class="img-fluid rounded" />
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-7 text-center">
			<img class="img-fluid max-height-96px mt-4 mb-2" src="~/images/fitcare_logo.png" alt="Logo fitcare">
			<p class="lead mt-4">
				Bienvenido al gimnasio del equipo más ganador de títulos de Costa Rica <b>(35 TÍTULOS)</b>
			</p>
			<p class="lead mt-4">
				<a href="#">Beneficios de afiliarse a fit<strong>care</strong>.</a>
			</p>
		</div>
	</div>
</div>

<div class="row mt-5">
	<div class="col-sm-12">
		<div class="bg-white shadow-sm">
			<h5 class="py-3 font-light text-center text-dark">
				Gimnasio <b>Los Patitos</b>
			</h5>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="card-deck">
			<div class="card border-0 shadow-sm">
				<div class="card-body">
					<p class="card-text text-justify">
						Somos un gimnasio, centro de entrenamiento. Dedicados a Entrenamiento físico grupal y personal, pilates, nutricion, insanity,
						fisioterapia, zumba, crossfit, spinning,
						aeróbicos, entre otros.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5">
	<div class="col-sm-12">
		<div class="bg-white shadow-sm">
			<h5 class="py-3 font-light text-center text-dark">
				Nuestros <b>servicios</b>
			</h5>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="card-deck">
			<div class="card border-0 shadow-sm">
				<img class="card-img-top max-height-96px" src="~/images/fitness-forever.svg" alt="Entrenamiento">
				<div class="card-body">
					<h5 class="card-title text-center">
						Planes alimenticios
						<br />
						(Nutrición)
					</h5>
					<p class="card-text text-justify">
						Planes de alimentación y asesorías personalizados para acompañar los planes de entrenamiento o
						mejorar el balance alimenticio y la salud.
					</p>
					<p class="card-text text-justify">
						Esta plataforma le permite mejorar el cumplimiento de sus metas alimenticias para mejorar su
						salud y estilo de vida desde cualquier lugar y dispositivo.
					</p>
					<p class="card-text text-justify">
						Conozca más acerca de los planes alimenticios de fit<strong>care</strong>.
					</p>
				</div>
			</div>

			<div class="card border-0 shadow-sm">
				<img class="card-img-top max-height-96px" src="~/images/gym-tool.svg" alt="Rutinas">
				<div class="card-body">
					<h5 class="card-title text-center">
						Planes de entrenamiento
						<br />(Rutinas)
					</h5>
					<p class="card-text text-justify">
						Planes de entrenamiento personales y grupales personalizados para cumplir las necesidades de
						cada uno de nuestros clientes o grupos: cumplimiento de metas personales, recuperación de
						lesiones.
					</p>
					<p class="card-text text-justify">
						Esta plataforma le permite gestionar y completar sus rutinas desde cualquier lugar y
						dispositivo.
					</p>
					<p class="card-text text-justify">
						Conozca más acerca de las rutinas disponibles en fit<strong>care</strong>.
					</p>
				</div>
			</div>

			<div class="card border-0 shadow-sm">
				<img class="card-img-top max-height-96px" src="~/images/wellness.svg" alt="Clientes">
				<div class="card-body">
					<h5 class="card-title text-center">
						Capital humano
						<br />
						(y herramientas de trabajo)
					</h5>
					<p class="card-text text-justify">
						Instructores profesionales y con gran trayectoria y experiencia, respaldados por instalaciones,
						equipos y herramientas de calidad para cumplir mas eficientemente los objetivos.
					</p>
					<p class="card-text text-justify">
						Esta plataforma le permite llevar un ágil y completo seguimiento con su instructor desde
						cualquier lugar y dispositivo.
					</p>
					<p class="card-text text-justify">
						Conozca más acerca de los instructores de fit<strong>care</strong>.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script type="text/javascript">
		$(document).ready(function ()
		{

		});
	</script>
}
