@{
    ViewData["Title"] = "Política de privacidad";
}

<div class="jumbotron p-4 bg-white shadow-sm text-center">
    <img class="img-fluid max-height-96px" src="~/images/hacking.svg" alt="Rutinas">

    <h4 class="font-light text-primary">@ViewData["Title"]</h4>
    <p class="lead">
        Al navegar dentro de este sitio usted está aceptando todos los términos y condiciones de uso de fitcare.
    </p>

    <p class="lead">
        El uso de cookies es requerido para el buen funcionamiento del sitio web.
    </p>
</div>
